body {
  margin-left: 2rem;
}

.code {
  font-family: "courier new", monospace;
}

.highlight, p {
  width: 35rem;
}

p.text-center {
  text-align: center;
  width: 100%;
}

h1 {
  font-family: Georgia, serif;
  font-size: 50px;
  letter-spacing: -0.02em;
  margin-bottom: 36px;
  margin-top: 42px;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-family: Georgia, serif;
  font-weight: 400;
  margin-bottom: 24px;
  margin-top: 48px;
}

body > p {
  font-family: Georgia, serif;
  margin-bottom: 24px;
}

.highlight {
  padding: 0.5rem 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  line-height: 1.5;
  position: relative;
}

.with-plot + .highlight,
.highlight + .highlight {
  margin-top: 2px;
}

.highlight + h2,
.highlight + p {
  margin-top: 32px;
}

.file-name {
  float: right;
  font-family: arial, sans-serif;
  color: #666;
  font-size: 12px;
}

.with-plot {
  display: -webkit-box;
  display: flex;
  flex-direction: row;
}

.with-plot img {
  width: 400px;
  height: auto;
  margin-top: -20px;
}

a {
  color: #666;
}
